body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #af9df0;
    color: #ecedee;
}

H1 {
    color: #ff4747;
    text-align: center;
}

a {
    color: #67f8af;
    text-decoration: none;
}

a:hover {
    color: #1f6feb;
    font-size: large;
}

ul > li {
    font-weight: bold;
}

h1 + p {
    background-color: #161b22;
    padding: 10px;
    border-radius: 5px;
}

ul li:hover {
    color: #ffe44a;
}

ul :nth-child(1) {
    background-color: blue;
}

ul :nth-child(2) {
    background-color: #ff7b72;
}

ul :nth-child(3) {
    background-color: rgb(225, 0, 255);
}

ul :nth-child(4) {
    background-color: rgb(255, 188, 88);
}

ul :nth-child(5) {
    background-color: rgb(84, 176, 192);
}
p:not(:first-of-type) {
    text-decoration: double underline;
    text-align: auto center;
}

p:first-of-type {
    text-decoration: double underline;
    text-align: auto center;
}
ul li::before {
    content: normal;
}

a::after {
    content: normal;
}

p::first-letter {
    font-size: 200%;
    color:#ff7b72;
}